@font-face {
    font-family: Georgecafebold;
    src: url(/fonts/Louis\ George\ Cafe\ Bold.ttf);
}
@font-face {
    font-family: Georgecafelight;
    src: url(/fonts/Louis\ George\ Cafe\ Light.ttf);
}
@font-face {
    font-family: Candu;
    src: url(/fonts/Candu.ttf);
}

body{
    margin: 0px;
    background-color: #323232;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
a{
    text-decoration: none;
}
span{
    color: #E2AE75;
}

.titre{
    font-size: 40px;
    font-family: Candu;
    color: #FFF;
}
footer{
    position: relative;
    margin-top: 50px;
    padding: 20px;
    background-color: #222222;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.petit_container{
    display: flex;
    flex-direction: column;
}
.footer_titre{
    font-family: Georgecafebold;
    color: #FFF;
}
.footer_lien{
    margin-top: 20px;
    font-family: Georgecafelight;
    color: #FFF;
    transition: 0.4s;
}
.footer_lien:hover{
    color: #E2AE75;
}
